<manifest package="dev.shreyaspatil.foodium" xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name="dagger.hilt.android.testing.HiltTestApplication"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar"
            android:exported="true" />
    </application>
    <instrumentation
        android:name="dev.shreyaspatil.foodium.AllureHiltTestRunner"
        android:targetPackage="dev.shreyaspatil.foodium"
        android:functionalTest="false"
        android:handleProfiling="false" />
</manifest>

